@use "mixins" as *;

:root {
  --widthoffset: 50%;
  --reszbarw: 1rem;
  @include respond-to(sm) {
    --widthoffset: 100% !important;
    --reszbarw: 3px;
  }
  --border: 2px solid black;
  --borderpin: 3.2px solid black;
  --borderbtn: 3px solid black;
  --sstt: 3rem;
  --px: 1rem;
  --ppx: 1.5rem;
  --ggap: #{$ggap};
  --ggap2: #{$ggap2};
  --navh: 4rem;
}

html,
body {
  overflow: visible;
  font-family: "sans";
  font-size: 16px;
  @include respond-to(sm) {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

button,
a {
  cursor: pointer;
  text-decoration: unset;
  border: none;
  background-color: transparent;
  font-size: inherit;
  svg {
    aspect-ratio: 1;
    height: 100%;
  }
}

.leftbtn {
  z-index: 2;
  margin-left: 0.7rem;
  position: relative;
  &::after,
  &::before {
    content: " ";
    display: block;
    background-color: black;
    position: absolute;
  }
  &::before {
    border-radius: 10rem;
    width: 1.8rem;
    height: 1.8rem;
    top: 0.4rem;
  }
  &::after {
    width: 2rem;
    height: calc(var(--navh) / 6);
    top: 1.3rem;
    left: 0.1rem;
    transform: rotate(45deg);
  }
}

.highlight {
  background-color: black !important;
  color: white;
}

.rightbtn {
  --gap: 0.5rem;
  --t: calc(var(--gap) + var(--barh));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  aspect-ratio: 1;
  height: var(--navh);
  width: var(--iconw);
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  right: 0;
  &::after,
  &::before {
    content: " ";
    display: block;
    background-color: black;
    width: 100%;
    height: var(--barh);
    will-change: transform;
    transition: transform 0.5s;
  }
  &.open {
    &::after {
      transform: translateY(calc(var(--t) / -2)) rotate(135deg);
    }
    &::before {
      transform: translateY(calc(var(--t) / 2)) rotate(45deg);
    }
  }
}

.fdisp {
  font-family: disp;
  line-height: 0.75em;
  padding-top: 0.1em;
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: #{$ggap2 * 2};
  position: relative;
}

.togglebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  min-height: calc(var(--sstt) - 0.3rem);
  padding: 0.4rem 1rem;
  border: var(--borderbtn);
  width: fit-content;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  word-break: keep-all;
  white-space: nowrap;
  .xbtn {
    font-size: 1.4em;
    display: none;
    padding: 0 1.2rem 0 0.8rem;
  }
  &.checked {
    .xbtn {
      display: block;
    }
    padding-right: 0;
  }
}

.fridaytag {
  transform: rotate(20deg);
  width: 4.2rem;
  height: 4.2rem;
  background-color: black;
  border-radius: 10rem;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  line-height: 1.2em;
}
