@charset "UTF-8";

@use "fonts";
@use "mixins" as *;
@use "common";
@use "utilities";

.marker,
.showcasename .index {
  flex-shrink: 0;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 3rem;
  border: var(--borderpin);
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans;
}

.marker {
  transition: background-color 1s, color 1s !important;
}

.map-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  .map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .mapboxgl-ctrl-bottom-left {
      bottom: unset;
      top: calc(var(--navh) + 5px);
      pointer-events: none;
      opacity: 0.5;
      .mapboxgl-ctrl-logo {
        width: 50px;
      }
      * {
        pointer-events: none;
      }
    }
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: end;
  flex-direction: column;
  pointer-events: none;
  overflow: hidden;

  .recenter {
    position: absolute;
    width: var(--iconw);
    aspect-ratio: 1;
    top: calc(var(--navh) + var(--barh));
    right: var(--barh);
    transform: scale(0.9);
    pointer-events: auto;
  }
  .navigation {
    flex-shrink: 0;
    pointer-events: auto;
    background-color: white;
    width: 100%;
    height: var(--navh);
    outline: var(--borderbtn);
    --barh: calc(var(--navh) / 6);
    --iconw: calc(var(--navh) * 0.6);
    ~ * {
      --barh: calc(var(--navh) / 6);
      --iconw: calc(var(--navh) * 0.6);
    }
    &.open {
      --navh: 3rem;
      .about {
        transform: translateX(calc(50vw - 50%));
      }
      .leftbtn {
        transform: translateX(0);
      }
      ~ * {
        --navh: 3rem;
      }
      + .filterandsortclass {
        transform: translateX(0);
      }
      ~ .locationcard {
        .geolocate {
          left: calc(var(--barh) + var(--widthoffset));
        }
      }
    }
    &.openSearch + .filterandsortclass .searchlist {
      transform: translateY(0);
    }
    &.openSearch + .filterandsortclass .searchwrapper .background {
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: auto;
    }
    > * {
    }
    .about {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.8rem;
      padding-top: calc(var(--navh) * 0.15);
      font-size: calc(var(--navh) * 0.7);
      font-family: disp;
      font-variation-settings: "wght" 300;
      width: fit-content;
      transition: transform 0.5s;
    }
    button {
      aspect-ratio: 1;
      position: absolute;
      top: 0px;
      height: var(--navh);
    }
    .rightbtn {
      right: 0px;
    }
    .leftbtn {
      transform: translateX(-100%);
      transition: transform 0.5s;
    }
  }
  aside {
    z-index: 2;
    pointer-events: none;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s;
    > * {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: auto;
    }
    .rightpanel {
      width: var(--widthoffset);
      max-width: calc(100% - var(--reszbarw));
      min-width: 20%;
      height: 100%;
      .draggable {
        box-shadow: inset 3px 0px 0px 0px black;
        cursor: e-resize;
        position: absolute;
        width: fit-content;
        z-index: 1;
        width: var(--reszbarw);
        height: 100%;
        left: 100%;
        @include respond-to(sm) {
          pointer-events: none;
        }
      }
      .searchwrapper {
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .searchlist {
          z-index: 2;
          pointer-events: auto;
          height: fit-content;
          max-height: 90%;
          position: absolute;
          transform: translateY(-102%);
          transition: transform 0.5s;
          background-color: rgb(255, 255, 255);
          border-bottom: var(--borderbtn);
          padding: var(--px);
          width: 100%;
          overflow-y: auto;
          pointer-events: auto;
          li {
            margin-bottom: var(--ggap);
            h3 {
              margin-bottom: var(--ggap);
            }
            .labellist {
              display: flex;
              flex-wrap: wrap;
              padding-left: 3rem;
              gap: 0.3rem;
              label {
                cursor: pointer;
                &.checked {
                  background-color: black;
                  color: white;
                }
                input {
                  display: none;
                }
              }
            }
          }
        }
        .background {
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background-color: transparent;
          transition: background-color 0.5s;
        }
      }
      .content {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        .intro {
          padding: 0 var(--px);
          .description {
            font-size: 1.2em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3; /* Limit to 3 lines */
            line-clamp: 3; /* For future support */
            text-overflow: clip; /* Ensure no ellipsis */
            > :nth-child(n + 2) {
              display: none;
            }
          }
          .readmore {
            font-size: 1.2em;
            display: block;
            margin-bottom: #{$ggap3};
          }
        }
        .showcaselist {
          .searchstatus {
            white-space: nowrap;
            cursor: pointer;
            display: none;
            position: sticky;
            align-items: center;
            gap: 0.5rem;
            top: 0px;
            z-index: 3;
            height: fit-content;
            background-color: white;
            width: 100%;
            padding: 0px var(--px);
            padding-bottom: 0.3rem;
            font-weight: bold;
            .status {
              background-color: black;
              color: white;
              padding-right: 0;
              border: none;
            }
          }
          .pinlist {
            margin: 0.2rem 0px;
            transition: margin 0.5s;
            &.visible.first {
              margin-top: 0px !important;
            }
            .eventlistwrapper {
              --ggap2: 2rem;
              transition: grid-template-rows 0.5s;
              display: grid;
              grid-template-rows: 0fr;
              > div {
                overflow: hidden;
              }
              .eventlist {
                transition: background-color 1s, color 1s;
                .mainevent {
                  margin-top: var(--ggap2);
                  padding: 0 var(--ppx);
                  h4 {
                    font-weight: bold;
                  }
                  .innerinfo {
                    padding-left: var(--ppx);
                    > * {
                      padding-top: var(--ggap);
                    }
                  }
                  .date {
                    white-space: pre-wrap;
                  }
                  .hidden + .friday {
                    margin-top: 0;
                    h4 {
                      padding-left: var(--ppx);
                    }
                    .branch {
                      visibility: visible;
                    }
                  }
                  .friday {
                    margin-top: var(--ggap2);
                    position: relative;
                    .fridaytag {
                      float: right;
                      right: 0;
                      top: 0;
                    }
                  }
                }
              }
            }
            .linebelow {
              position: relative;
              top: var(--ggap);
              background-color: black;
              width: calc(100% - var(--px) * 2);
              height: 3px;
              left: var(--px);
            }
            &.open {
              margin: var(--ggap2) 0px;
            }
            &:last-child {
              .linebelow {
                display: none;
              }
            }
          }
        }
      }
    }
    &.havefilter {
      .searchstatus {
        display: flex !important;
      }
      .pinlist.visible {
        margin-top: 0.2rem !important;
        margin-bottom: var(--ggap2) !important;
        ~ .pinlist.visible {
          margin-top: var(--ggap2) !important;
        }
        &:not(:has(~ .pinlist.visible)) {
          .linebelow {
            display: none;
          }
        }
        .showcasename {
          @extend .smallshowcasename;
        }
      }
    }
    &.havefilter,
    .pinlist.open {
      .eventlistwrapper {
        grid-template-rows: 1fr !important;
      }
    }
    &.havegeolocate .geolocate {
      display: block !important;
    }
  }
  .locationcard {
    border-radius: 1rem 1rem 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: fit-content;
    min-height: 20svh;
    width: 100%;
    z-index: 1;
    background-color: white;
    pointer-events: auto;
    transform: translateY(100%);
    transition: transform 0.5s;
    outline: var(--borderbtn);
    padding: var(--ppx) var(--px);
    > * {
      margin-top: var(--ggap);
    }
    .togglebtn {
      margin: var(--ggap) auto 0px;
      width: 9rem;
      height: 3rem;
    }
    .geolocate,
    .fridaytag {
      position: absolute;
    }
    .geolocate {
      bottom: calc(100% + 0.5rem);
      left: var(--barh);
      width: var(--iconw);
      aspect-ratio: 1;
    }
    .fridaytag {
      left: 0px;
      bottom: calc(100% + 0.8rem);
      width: 3rem;
      width: 6rem;
      height: 6rem;
      right: var(--barh);
      left: unset;
      position: absolute;
      font-size: 1.2rem;
    }
    .title {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      gap: var(--ggap);
    }
    .showcasename {
      margin: 0;
      padding: 0;
      cursor: auto;
      width: fit-content;
    }
    .organizer {
      font-family: sans;
      font-size: 1rem;
      max-width: 10rem;
      a {
        text-decoration: underline;
      }
    }
    h4 {
      .type {
        font-weight: normal;
      }
    }
    .friday {
      position: relative;
      margin: 0;
      padding-left: var(--ppx);
      .branch {
        visibility: visible;
      }
    }
    &.open {
      transform: translateY(0px);
    }
  }
}

.overlay {
  pointer-events: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--navh) 2rem 2rem;
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--ggap2);
    a {
      text-decoration: underline;
    }
  }
  .content {
    max-width: 600px;
    background-color: white;
    z-index: 3;
    padding: var(--ggap);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    .title {
      display: flex;
      justify-content: space-between;
      gap: var(--ggap);
      > * {
        flex-basis: 50%;
      }
      .organizer {
        max-width: 10rem;
        a {
          text-decoration: underline;
          display: inline;
        }
      }
    }
    .description {
      margin-bottom: #{$ggap3};
      > * {
        margin-top: var(--ggap2);
      }
      a {
        text-decoration: underline;
        display: inline;
      }
    }
    .long {
      > * {
        margin-top: var(--ggap2);
      }
      .credits {
        opacity: 0.5;
        a {
          text-decoration: underline;
          display: inline;
        }
      }
    }
    .buttons {
      margin-top: var(--ggap2);
    }
    h4 {
      margin: 0 0 var(--ggap2);
    }
    h2 {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
    .h2date {
      margin-bottom: #{$ggap3};
      font-size: 0.8rem;
    }
  }
  .toHome {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .rightbtn {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    &::before,
    &::after {
      background: white;
    }
  }
}

.showcasename {
  cursor: pointer;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 2;
  font-size: 5rem;
  font-family: disp;
  font-weight: 300;
  overflow: visible;
  display: flex;
  align-items: center;
  gap: 0.1em;
  width: 100%;
  padding: 0 var(--px);
  height: 0.7em;
  .actualheight {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% + var(--ggap));
    background-color: white;
  }
  .index {
    bottom: 0.05em;
    top: unset;
  }
  span {
    position: relative;
    top: 0.08em;
  }
}
.smallshowcasename {
  top: calc(var(--sstt) - 0.1px) !important;
  font-size: 2.5rem !important;
  .index {
    font-size: 0.8rem;
    width: 1.6rem;
    border-width: 2.5px;
  }
  span {
    top: 0.15em;
  }
}

.branch {
  visibility: hidden;
  position: absolute;
  left: 0.5rem;
  top: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-left: var(--border);
  border-bottom: var(--border);
}

.readmore {
  text-decoration: underline;
  white-space: nowrap;
  opacity: 0.4;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  .geolocate {
    display: none;
  }
}
