@charset "UTF-8";

@use "fonts";
@use "mixins" as *;
@use "common";
@use "utilities";

.marker,
.showcasename .index {
  flex-shrink: 0;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 3rem;
  border: var(--borderpin);
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 1s !important;
  font-family: sans;
  &.highlight {
    background-color: yellow;
  }
}

.map-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  .map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: end;
  flex-direction: column;
  pointer-events: none;
  overflow: hidden;
  .navigation {
    flex-shrink: 0;
    pointer-events: auto;
    background-color: white;
    width: 100%;
    height: 4rem;
    &.open {
      .about {
        transform: translateX(calc(50vw - 50%));
      }
      .leftbtn {
        transform: translateX(0);
      }
      + .filterandsortclass {
        transform: translateX(0);
      }
    }
    &.openSearch + .filterandsortclass .searchlist {
      transform: translateY(0);
    }
    &.openSearch + .filterandsortclass .searchwrapper .background {
      background-color: rgba(0, 0, 0, 0.246);
      pointer-events: auto;
    }
    .about {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.8rem;
      padding-top: 0.5rem;
      font-size: 3rem;
      font-family: disp;
      font-variation-settings: "wght" 300;
      width: fit-content;
      transition: transform 0.5s;
    }
    button {
      aspect-ratio: 1;
      position: absolute;
      top: 0px;
      height: 4rem;
    }
    .rightbtn {
      right: 0px;
    }
    .leftbtn {
      transform: translateX(-100%);
      transition: transform 0.5s;
    }
  }
  aside {
    z-index: 2;
    pointer-events: none;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s;
    > * {
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: auto;
    }
    .rightpanel {
      width: var(--widthoffset);
      max-width: calc(100% - var(--reszbarw));
      min-width: 20%;
      height: 100%;
      .draggable {
        border-left: var(--borderbtn);
        cursor: e-resize;
        position: absolute;
        width: fit-content;
        z-index: 1;
        width: var(--reszbarw);
        height: 100%;
        left: 100%;
        @include respond-to(sm) {
          pointer-events: none;
        }
      }
      .searchwrapper {
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        .searchlist {
          z-index: 2;
          pointer-events: auto;
          height: fit-content;
          max-height: 90%;
          position: absolute;
          transform: translateY(-102%);
          transition: transform 0.5s;
          background-color: rgb(255, 255, 255);
          border-bottom: var(--borderbtn);
          padding: var(--px);
          width: 100%;
          overflow-y: auto;
          pointer-events: auto;
          li {
            margin-bottom: var(--ggap);
            h3 {
              margin-bottom: var(--ggap);
            }
            .labellist {
              display: flex;
              flex-wrap: wrap;
              padding-left: 3rem;
              gap: 0.3rem;
              label {
                cursor: pointer;
                &.checked {
                  background-color: black;
                  color: white;
                }
                input {
                  display: none;
                }
              }
            }
          }
        }
        .background {
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          pointer-events: none;
          background-color: transparent;
          transition: background-color 0.5s;
        }
      }
      .content {
        position: relative;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        .intro {
          padding: 0 var(--px);
          h1 {
            font-size: 5rem;
            font-weight: 300;
            margin-bottom: 3rem;
          }
          p {
            margin-bottom: 3rem;
          }
        }
        .showcaselist {
          .searchstatus {
            white-space: nowrap;
            cursor: pointer;
            display: none;
            position: sticky;
            align-items: center;
            gap: 0.5rem;
            top: 0px;
            z-index: 3;
            height: fit-content;
            background-color: white;
            width: 100%;
            padding: 0px var(--px);
            padding-bottom: 0.3rem;
            font-weight: bold;
            .status {
              background-color: black;
              color: white;
              padding-right: 0;
              border: none;
              button {
                padding: 0 1.2rem 0 0.8rem;
              }
            }
          }
          .pinlist {
            margin: 0.2rem 0px;
            transition: margin 0.5s;
            &.visible.first {
              margin-top: 0px !important;
            }
            .eventlistwrapper {
              transition: grid-template-rows 0.5s;
              display: grid;
              grid-template-rows: 0fr;
              > div {
                overflow: hidden;
              }
              .eventlist {
                margin-top: var(--ggap);
                transition: background-color 1s;
                &.highlight {
                  background-color: yellow;
                }
                .mainevent {
                  margin-top: var(--ggap);
                  padding: 0 var(--ppx);
                  h4 {
                    font-weight: bold;
                  }
                  .innerinfo {
                    padding-left: var(--ppx);
                    > * {
                      padding-top: var(--ggap);
                    }
                  }
                  .date {
                    white-space: pre-wrap;
                  }
                  .hidden + .friday {
                    margin-top: 0;
                    h4 {
                      padding-left: var(--ppx);
                    }
                    .branch {
                      visibility: visible;
                    }
                  }
                  .friday {
                    margin-top: var(--ggap);
                    position: relative;
                    .fridaytag {
                      float: right;
                      right: 0;
                      top: 0;
                      width: 5rem;
                      height: 5rem;
                      background-color: black;
                      border-radius: 10rem;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      color: white;
                      text-align: center;
                    }
                  }
                }
              }
            }
            .linebelow {
              position: relative;
              top: var(--ggap);
              background-color: black;
              width: calc(100% - var(--px) * 2);
              height: 2px;
              left: var(--px);
            }
            &.open {
              margin: var(--ggap2) 0px;
            }
            &:last-child {
              .linebelow {
                display: none;
              }
            }
          }
        }
      }
    }
    &.havefilter {
      .searchstatus {
        display: flex !important;
      }
      .pinlist.visible {
        margin-top: 0.2rem !important;
        margin-bottom: var(--ggap2) !important;
        ~ .pinlist.visible {
          margin-top: var(--ggap2) !important;
        }
        &:not(:has(~ .pinlist.visible)) {
          .linebelow {
            display: none;
          }
        }
        .showcasename {
          @extend .smallshowcasename;
        }
      }
    }
    &.havefilter,
    .pinlist.open {
      .eventlistwrapper {
        grid-template-rows: 1fr !important;
      }
    }
    &.havegeolocate .geolocate {
      display: block !important;
    }
  }
  .locationcard {
    position: absolute;
    left: 0;
    bottom: 0;
    height: fit-content;
    min-height: 20svh;
    width: 100%;
    z-index: 1;
    background-color: white;
    pointer-events: auto;
    transform: translateY(100%);
    transition: transform 0.5s;
    border-top: var(--borderbtn);
    padding: var(--px);
    > * {
      margin-top: var(--ggap);
    }
    .geolocate {
      position: absolute;
      left: 0px;
      bottom: 100%;
      aspect-ratio: 1;
      width: 3rem;
    }
    .smallshowcasename {
      margin: 0;
      padding: 0;
      cursor: auto;
    }
    .friday {
      position: relative;
      margin: 0;
      padding-left: var(--ppx);
      .branch {
        visibility: visible;
      }
    }
    &.open {
      transform: translateY(0px);
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 2rem;
  h2 {
    font-size: inherit;
    margin-bottom: #{$ggap2 * 2};
  }
  .about {
    display: flex;
    flex-direction: column;
    gap: var(--ggap2);
    a {
      text-decoration: underline;
      &::after {
        content: " \2197\FE0E";
      }
    }
  }
  .content {
    max-width: 600px;
    background-color: white;
    z-index: 3;
    padding: var(--ggap);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    .long {
      > * {
        margin-top: var(--ggap2);
      }
    }
    .buttons {
      margin-top: var(--ggap);
    }
    h4 {
      margin: 0 0 var(--ggap2);
    }
  }
  .toHome {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .rightbtn {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    &::before,
    &::after {
      background: white;
    }
  }
}

.showcasename {
  cursor: pointer;
  position: sticky;
  top: 0px;
  background: white;
  z-index: 2;
  font-size: 5rem;
  font-family: disp;
  font-weight: 300;
  overflow: visible;
  display: flex;
  align-items: center;
  gap: 0.1em;
  width: 100%;
  padding: 0 var(--px);
  height: 0.7em;
  .actualheight {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% + var(--ggap));
    background-color: white;
  }
  .index {
    bottom: 0.05em;
    top: unset;
  }
  span {
    position: relative;
    top: 0.08em;
  }
}
.smallshowcasename {
  top: calc(var(--sstt) - 0.1px) !important;
  font-size: 2.5rem !important;
  .index {
    font-size: 0.8rem;
    width: 1.6rem;
    border-width: 2.5px;
  }
  span {
    top: 0.15em;
  }
}

.branch {
  visibility: hidden;
  position: absolute;
  left: 0.5rem;
  top: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-left: var(--border);
  border-bottom: var(--border);
}

.readmore {
  white-space: nowrap;
  opacity: 0.5;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  .geolocate {
    display: none;
  }
}
